@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    font-family:"Roboto", sans-serif ;

}
body {
    background-color: #F5F5F5;
}
/* 
body {
    font-family: ;
} */
.text-shad {
    text-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.26);
}
.box-shad {
    box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.26);
}
.p-multiselect-token {
    background-color: #5E17EB;
    color:#fff
}
.p-highlight {
    background-color: #5E17EB;
    color: #fff
}
.p-checkbox-box {
    color:#5E17EB;
    box-shadow: 2px 2px 5px #333;
}
input.p-checkbox-input {
    background-color: bisque;
}
.p-checkbox.p-highlight .p-checkbox-box {
    background-color: #fff;
}
.p-checkbox.p-highlight .p-checkbox-box svg {
    color: #5E17EB;
}
.p-multiselect:not(.p-disabled).p-focus {
    box-shadow: none;
}
.p-multiselect:not(.p-disabled):hover {
    box-shadow: 0 0 0 0.2rem #5E17EB;
}
