@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
body {
    font-family: ;
} */
.text-shad {
    text-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.26);
}
.box-shad {
    box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.26);
}
